body{
    padding: 0;
    margin: 0;
}

h1,p{
    margin-left: 2rem;
}

#main-screen{
    width: 50%;
    height: 50%;
    z-index: 1;
}

.over{
    position: absolute;    
}

h1.title.over{
    top: 0;
}

p.over{
    margin-top: 80px;
}